# Python
__pycache__/
*.pyc

# Environments
.proj_env/
venv/
.env/

# Jupyter
.ipynb_checkpoints

# Denerated plots and figures
plots/
*.png

# Intersection text outputs
*.txt
!requirements.txt

# Data files
data/raw/
data/processed/

# Large data folders
data/raw/
data/processed/

# Models
models/

# HuggingFace cache
.cache/
huggingface/

# VSCode
.vscode/

# macOS
.DS_Store